<%= render 'base' %>

<div class="row-fluid">
  <div class="span9">
    <div id="question_show" class="questions box">
      <div class="question hentry">
        <%= render :partial => "questions/question_info", :locals => { :question => @question } %>
    
        <div class="body entry-content">
          <%= @question.body %>
        </div>
      </div>
    </div>
    
    <%= render :partial => "questions/answers", :locals => { :question => @question, :answers => @answers } %>
    
    <% if current_user %>
      <div id="answer" class="form box">
        <h4 class="muted">您的答案</h4>
        <%= form_for(Answer.new, :remote => true,:url => question_answers_path(@question)) do |f| %>
          <%= f.text_area :body,:class => "topic_editor span12", :rows => "4" %><br />      
          <%= f.submit '提交答案', :class => 'btn btn-primary', :disable_with => "正在提交..." %>
        <% end %>
      </div>
    <% else %>
        <%= render :partial => "questions/translation/need_login_to_reply" %>
    <% end %>
    
  </div>
  
  <% if !mobile? %>
  <div class="span3">
    <%= render_cell :questions, :sidebar_for_node_recent_questions, { :question => @question } %>
  </div>
  <% end %>
</div>