<div class="row-fluid">
  <div class="span8 offset2 well">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>    
    
    <%= render "shared/error_messages", :target => resource %>
    <fieldset>
      <legend>用户注册</legend>
      <div class="control-group">
        <%= f.label :login, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :login, :placeholder => resource.class.human_attribute_name(:login) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :placeholder => resource.class.human_attribute_name(:email) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password, :placeholder => resource.class.human_attribute_name(:password) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password_confirmation, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password_confirmation, :placeholder => resource.class.human_attribute_name(:password_confirmation) %>
        </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <%= f.radio_button :role, "user" %>
        </div>
        
        <%= f.label :role, "user", :value => "user", :class => "control-label" %>
        
      </div>
      
      <div class="control-group">
        <div class="controls">
          <%= f.submit t('label.sign_up'), class: "btn btn-success" %>
        </div>
      </div>
    </fieldset>
      
    <% end %>
  </div>
</div>

<!-- <div class="row-fluid">
  <div class="span5">
    <div class="slogan">
      <h1><%= t('slogan.title') %></h1>
      <p><%= t('slogan.description') %></p>
    </div>
  </div>
  <div class="span5 offset2">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
      <%= render "shared/error_messages", :target => resource %>
      <div>
        <%= f.text_field :login, :placeholder => resource.class.human_attribute_name(:login) %>
      </div>
      <div>
        <%= f.email_field :email, :placeholder => resource.class.human_attribute_name(:email) %>
      </div>
      <div>
        <%= f.password_field :password, :placeholder => resource.class.human_attribute_name(:password) %>
      </div>
      <div>
        <%= f.password_field :password_confirmation, :placeholder => resource.class.human_attribute_name(:password_confirmation) %>
      </div>
      <div>
        <%= f.submit t('label.sign_up'), class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div> -->
