<% content_for :before_content do %>
  <div class="jumbotron">
    <div class="container">
      <div class="row-fluid">
        <div class="span5">
          <div class="slogan">
            <h1><%= t('slogan.title') %></h1>
            <p><%= t('slogan.description') %></p>
          </div>
        </div>
        <div class="span5 offset2">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-full-width' }) do |f| %>
            
            <div>
              <%= f.text_field :login, :placeholder => resource.class.human_attribute_name(:login) %>
            </div>
            <div>
              <%= f.email_field :email, :placeholder => resource.class.human_attribute_name(:email) %>
            </div>
            <div>
              <%= f.password_field :password, :placeholder => resource.class.human_attribute_name(:password) %>
            </div>
            <div>
              <%= f.submit t('label.sign_up'), class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span3">
    <h3><%= t('highlights.free.title') %></h3>
    <p><%= t('highlights.free.description') %></p>
  </div>
  <div class="span3 offset1">
    <h3><%= t('highlights.more_features.title') %></h3>
    <p><%= t('highlights.more_features.description') %></p>
  </div>
  <div class="span3 offset1">
    <h3><%= t('highlights.join_us.title') %></h3>
    <p><%= t('highlights.join_us.description') %></p>
  </div>
</div>
