<header id="header">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="pull-right">
          <% if user_signed_in? %>
          <%= t('label.welcome') %> <%= current_user.login %> <%= render_user_level_tag(current_user) %> | 
            <%= link_to t('menu.my_home_page'), user_path(current_user.login) %> | 
            <%= link_to t('menu.edit_account_path'), edit_user_registration_path %> | 
            <% if admin? %>
              <%= link_to t('menu.cpanel'), "/cpanel" %> | 
            <% end %>
            <%= link_to t('label.logout'), destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to t('label.sign_up'), new_user_registration_path, class: 'muted' %>
            <%= link_to t('label.sign_in'), new_user_session_path, class: 'muted' %>
          <% end %>
        </div>
      </div>
    </div>
    
  	<div class="navbar">
  		<div class="navbar-inner">
  			<a class="brand" href="/">
  				<span class="icon-wenda"></span>
  				<span><%= t('layout.wenda') %></span>
  			</a>
     
        <ul class="nav">
          <li class="divider-vertical muted"></li>
          <li><%= link_to t('layout.nav.question'), questions_path, class:"first" %></li>
          <li><%= link_to t('layout.nav.category'), nodes_path %></li>
          <li><%= link_to t('layout.nav.lawer'), users_path %></li>
        </ul>
        
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="<%= t('layout.header.search') %>">
        </form>
        
  		</div>
  	</div>
  </div>
</header>