<!DOCTYPE html>
<html>
<head>
  <title>LawWenda - Control Panel</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to("控制台", cpanel_root_path, :class => "brand")%>
        <ul class="nav">
          <li><%= link_to "系统概况",  cpanel_root_path %></li>
          <li><%= link_to "全局设置",  cpanel_site_configs_path %></li>
          <li><%= link_to "用户",  cpanel_users_path %></li>
          <li><%= link_to "分类",  cpanel_sections_path %></li>
          <li><%= link_to "节点",  cpanel_nodes_path %></li>
          <li><%= link_to "问题",  cpanel_questions_path %></li>
          <li><%= link_to "回答",  cpanel_answers_path %></li>
        </ul>
        
        <ul class="nav pull-right">
          <li class="dropdown" id="user_menu">
            <a href="#user_menu" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.login %>
              <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "回到前台", root_path %></li>
            </ul>
          </li>
        </ul>
          <!-- # li << link_to(t("cpanel.menu.topics"), cpanel_topics_path)
          # li << link_to(t("cpanel.menu.replies"), cpanel_replies_path)
          # li << link_to(t("cpanel.menu.comments"),cpanel_comments_path )
          # li << link_to(t("cpanel.menu.photos"),cpanel_photos_path )
          # li << link_to(t("cpanel.menu.site_nodes"),cpanel_site_nodes_path )
          # li << link_to(t("cpanel.menu.sites"),cpanel_sites_path ) -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="breadcrumb">
      <a href="<%= cpanel_root_path %>">Root</a> &gt;
      <%= yield :sitemap %>
    </div>
    <div id="main" class="well">
      <%= render_flashes %>
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="suggest">使用 <a href="http://www.mozillaonline.com/" target="_blank" rel="nofollow">Firefox</a> 或 <a href="http://www.google.com/chrome" target="_blank" rel="nofollow">Chrome</a> 浏览访问本站将获得最好的体验。</p>
    </div>
  </footer>
</body>
</html>
